*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f7f9;
}

nav{
    width: 100%;
    height: 5rem;
    border-bottom: 0.1rem solid #e5e0e0;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 19.7rem 14rem 1fr 14rem 19.7rem;
}

.in{
    height: 100%;
    border-right: 0.1rem solid #e5e0e0;
}

.in img{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.7rem;
    margin-left: 15rem;
}

.search{
    height: 100%;
    border-right: 0.1rem solid #e5e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input{
    height: 2rem;
    width: 80%;
    border-radius: 15px;
    border: 0.1rem solid #e5e0e0;
}

.search ::placeholder{
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.nav-info{
    height: 100%;
    border-right: 0.1rem solid #e5e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 2rem;
}

.nav-info a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #656464;
}

/* .nav-info a:hover{
    transition: ease-in-out;
} */

#red{
    color: #ff7b73;
}

.icon{
    height: 100%;
    border-right: 0.1rem solid #e5e0e0;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    gap: 3rem;
}

.icon a{
    cursor: pointer;
}

.icon img{
    width: 1.5rem;
    height: 1.5rem;
}

.nav_mg{
    height: 100%;
    border-right: 0.1rem solid #e5e0e0;
}

.nav_mg img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0.7rem 1rem;
}

.sub{
    width: 100%;
    height: 3rem;
    background-color: #ffffff;
}

.sub_info{
    width: 31%;
    height: 100%;
    margin-left: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub_info a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #979494;
}

.sub_info div{
    padding-top: 0.5rem;
    height: 90%;
}

.sub_info div:hover{
    border-bottom: 0.2rem solid green;
}

.wrapper{
    width: 86%;
    height: 100rem;
    margin: 2rem 15rem;
    display: grid;
    grid-template-columns: 15rem 1fr 25rem;
    gap: 2rem;
}

.profile{
    height: 43%;
    background-color: #ffffff;
}

.post{
    height: 100%;
    background-color: #f5f7f9;
}

.people{
    height: 50%;
}

.profile img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin: 1.5rem 4rem;
}

.p_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4rem;
    margin-top: -1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p_name h4{
    color: #656464;
    margin-top: 0.7rem;
}

.p_name p {
    color: #979494;
}

.follow{
    width: 80%;
    height: 2.4rem;
    border-radius: 15px;
    margin: 1rem 1.5rem 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5eb5e6;
    cursor: pointer;
}

.connect{
    width: 80%;
    height: 2.4rem;
    border-radius: 15px;
    margin: 1rem 1.5rem 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #5eb5e6;
    cursor: pointer;
}

.follow a{
    text-decoration: none;
    color: #ffffff;
}

.connect a{
    text-decoration: none;
    color: #5eb5e6;
}

.p_info{
    width: 100%;
    height: 7rem;
    margin-top: 2rem;
    border-top: 0.1rem solid #e5e0e0;
    border-bottom: 0.1rem solid #e5e0e0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p_info div{
    text-align: center;
}

.p_info p{
    color: #979494;
}

.line{
    width: 0.2%;
    height: 7rem;
    background-color: #a9a4a4;
}

.link{
    width: 100%;
    height: 5rem;
    font-size: 1.2rem;
    line-height: 1.9rem;
    padding: 1.4rem 4rem;
}


.link a{
    text-decoration: none;
    color:  #a9a4a4;
}

.export{
    width: 100%;
    height: 6rem;
    margin-top: 2rem;
    border-top: 0.1rem solid #e5e0e0;
    font-size: 1.2rem;
    padding: 2rem 2em;
}

.export a{
    text-decoration: none;
    color: #a9a4a4;
}

.people{
    width: 100%;
}

.people h1{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #979494;
    margin: auto;
}

.view{
    display: flex;
    margin-top: 2rem;
    gap: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.view h3{
    color: #979494;
}

.view img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.views{
    margin-bottom: 2rem;
}

.most{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.left{
    width: 2rem;
    height: 2rem;
    margin-top: 5rem;
}

.hosts img{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
}

.infl{
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1rem 1.5rem;
    text-align: center;
}

.infl h2{
    font-size: 2rem;
}

.infl h3{
    color: #979494;
}

.page_link{
    width: 100%;
    height: 29rem;
    background-color: #ffffff;
}

.post_info{
    width: 100%;
    height: 5rem;
    border-bottom: 0.1rem solid #e5e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.next{
    display: flex;
    gap: 1rem;
}

.next div{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.1rem solid #5d6bf8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_p{
    display: flex;
    gap: 1rem;
    margin: 2rem 1rem 0 1rem;
}

.article{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.article img{
    width: 14rem;
    height: 14rem;
}

.article a{
    text-decoration: none;
    color: #656464;
    font: 2rem;
}

.article p{
    color: #979494;
    margin-top: 0.5rem;
    font-size: 1.3rem;
}

.article div{
    margin-top: 1rem;
}

.background{
    width: 100%;
    height: 40rem;
    margin-top: 2rem;
    background-color: #ffffff;
}

.b_div{
    width: 100%;
    height: 5rem;
    border-bottom: 0.1rem solid #e5e0e0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1.5rem 0 0 2rem;
}