*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f7f9;
    overflow-x: hidden;
}

nav{
    width: 100%;
    height: 5rem;
    border-bottom: 0.1rem solid #e5e0e0;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 19.7rem 14rem 1fr 14rem 19.7rem;
}

.in{
    height: 100%;
    border-right: 0.1rem solid #e5e0e0;
}

.in img{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.7rem;
    margin-left: 15rem;
}

.search{
    height: 100%;
    border-right: 0.1rem solid #e5e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input{
    height: 2rem;
    width: 80%;
    border-radius: 15px;
    border: 0.1rem solid #e5e0e0;
}

.search input:focus{
    outline: none;
    padding-left: 1rem;
}

.search ::placeholder{
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.nav-info{
    height: 100%;
    border-right: 0.1rem solid #e5e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 2rem;
}

.nav-info a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #656464;
}

.nav-info a:hover{
    margin-bottom: 1rem;
    transition: all 0.5s linear;
}

#red{
    color: #ff7b73;
}

.icon{
    height: 100%;
    border-right: 0.1rem solid #e5e0e0;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    gap: 3rem;
}

.icon a{
    cursor: pointer;
}

.icon a:hover{
    margin-bottom: 1rem;
    transition: all 0.5s linear;
}

.icon img{
    width: 1.5rem;
    height: 1.5rem;
}

.nav_mg{
    height: 100%;
    border-right: 0.1rem solid #e5e0e0;
}

.nav_mg img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0.7rem 1rem;
}

.sub{
    width: 100%;
    height: 3rem;
    background-color: #ffffff;
}

.sub_info{
    width: 31%;
    height: 100%;
    margin-left: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub_info a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #979494;
}

.sub_info div{
    padding-top: 0.5rem;
    height: 90%;
}

.sub_info div:hover{
    border-bottom: 0.2rem solid #50afe7;
}

.wrapper{
    width: 86%;
    height: 175rem;
    margin: 2rem 15rem;
    display: grid;
    grid-template-columns: 15rem 1fr 20rem;
    gap: 2rem;
}

.profile{
    height: 29%;
    background-color: #ffffff;
}

.post{
    height: 100%;
    background-color: #f5f7f9;
}

.people{
    height: 50%;
}

.profile img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin: 1.5rem 4rem;
}

.p_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4rem;
    margin-top: -1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p_name h4{
    color: #656464;
    margin-top: 0.7rem;
}

.p_name p {
    color: #979494;
}

.follow{
    width: 80%;
    height: 2.4rem;
    border-radius: 15px;
    margin: 1rem 1.5rem 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5eb5e6;
    cursor: pointer;
}

.follow:hover{
    background-color: #4e9ce3;
}

.connect{
    width: 80%;
    height: 2.4rem;
    border-radius: 15px;
    margin: 1rem 1.5rem 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #5eb5e6;
    cursor: pointer;
}

.connect:hover{
    background-color: #edf6fd;
}

.follow a{
    text-decoration: none;
    color: #ffffff;
}

.connect a{
    text-decoration: none;
    color: #5eb5e6;
}

.p_info{
    width: 100%;
    height: 7rem;
    margin-top: 2rem;
    border-top: 0.1rem solid #e5e0e0;
    border-bottom: 0.1rem solid #e5e0e0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p_info div{
    text-align: center;
}

.p_info p{
    color: #979494;
}

.line{
    width: 0.2%;
    height: 7rem;
    background-color: #a9a4a4;
}

.link{
    width: 100%;
    height: 5rem;
    font-size: 1.2rem;
    line-height: 1.9rem;
    padding: 1.4rem 4rem;
}


.link a{
    text-decoration: none;
    color:  #a9a4a4;
}

.link a:hover{
    border-bottom: 0.1rem solid;
}

.export{
    width: 100%;
    height: 6rem;
    margin-top: 2rem;
    border-top: 0.1rem solid #e5e0e0;
    font-size: 1.2rem;
    padding: 2rem 2em;
}

.export a{
    text-decoration: none;
    color: #a9a4a4;
}

.people{
    width: 100%;
}

.people h1{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #979494;
    margin: auto;
}

.view{
    display: flex;
    margin-top: 2rem;
    gap: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.view h3{
    color: #979494;
}

.view img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.views{
    margin-bottom: 2rem;
}

.most{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.left{
    width: 2rem;
    height: 2rem;
    margin-top: 5rem;
}

.hosts img{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
}

.infl{
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1rem 2.5rem;
    text-align: center;
}

.infl h2{
    font-size: 2rem;
}

.infl h3{
    color: #979494;
}

.page_link{
    width: 100%;
    height: 29rem;
    background-color: #ffffff;
}

.post_info{
    width: 100%;
    height: 5rem;
    border-bottom: 0.1rem solid #e5e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.next{
    display: flex;
    gap: 1rem;
}

.next div{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.1rem solid #5d6bf8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.next div{
    background-color: #f4f4f4;
}

.link_p{
    display: flex;
    gap: 1rem;
    margin: 2rem;
}

.article{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; cursor: pointer;
}

.article img{
    width: 16rem;
    height: 14rem;
}

.article a{
    text-decoration: none;
    color: #656464;
}

.article:hover a{
    text-decoration: underline;
}

.article p{
    color: #979494;
    margin-top: 0.5rem;
    font-size: 1.3rem;
}

.article div{
    margin-top: 1rem;
}

.article h3{
    font-size: 1.3rem;
}

.background{
    width: 100%;
    height: 79rem;
    margin-top: 2rem;
    background-color: #ffffff;
}

.b_div{
    width: 100%;
    height: 5rem;
    border-bottom: 0.1rem solid #e5e0e0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1.5rem 0 0 2rem;
}

.b_info{
    margin: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

.b_info h3{
    font-weight: 500;
}

.b_info div{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

.b_inform{
    width: 92%;
    height: 16rem;
    margin: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.b_inform h3{
    font-weight: 500;
}

.ex{
    font-size: 1.7rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.ex_{
    display: flex;
    gap: 1rem;
}
.ex_info{
    width: 100%;
}

.ball{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.1rem solid #e5e0e0;
}

.c_line{
    width: 0.1rem;
    height: 7rem;
    background-color: #e5e0e0;
    margin-left: 0.4rem;
}

.ex_img{
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.ex_img h5{
    font-weight: 400;
}

.ex_img img{
    width: 10rem;
    height: 3rem;
    margin-top: -1rem;
}

.ex_info a{
    text-decoration: none;
    color: #78baf2;
    font-size: 1.4rem;
    cursor: pointer;
}

.ex_info a:hover{
    border-bottom: 0.1rem solid #78baf2;
}

.az{
    margin-bottom: 2rem;
}

.ex_info p{
    color: #babec1;
}

.skills{
    width: 92%;
    height: 14rem;
    margin: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skills h3{
    font-weight: 500;
}

.ski{
    font-size: 1.7rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.s_info{
    width: 90%;
    height: 4rem;
    margin: 1rem 3rem;
    display: grid;
    grid-template-columns: 5rem 1fr 15rem;
}

.s_info h2{
    padding-top: 0.8rem;
    font-weight: 400;
}

.num{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 0.1rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s_inform{
    display: flex;
}

.num2{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #e5e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s_inform img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0 0.5rem;
}

.int{
    font-size: 1.7rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.interest{
    width: 92%;
    height: 6rem;
    margin: -2rem 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.int img{
    width: 2rem;
    height: 2rem;
} 

.int h3{
    font-weight: 500;
}

.ints{
    width: 70%;
    height: 2rem;
    margin-left: 3rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.tool{
    width: 8rem;
    height: 2rem;
    background-color: #f1f1f1;
    padding-top: 0.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.recommend{
    width: 100%;
    height: 33rem;
    background-color: #ffffff;
    margin-top: 2rem;
}

.r_info{
    width: 100%;
    height: 5rem;
    border-bottom: 0.1rem solid #e5e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.r_inform{
    display: flex;
    gap: 1rem;
}

.r_inform div{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.1rem solid #5d6bf8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.r_inform div:hover{
    background-color: #f4f4f4;
}

.r_word{
    width: 100%;
    display: flex;
    margin: auto;
    gap: 2rem;
    padding: 0 2rem;
}

.r_word div{
    width: 35%;
    height: 17rem;
    margin-top: 2rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    font-size: 1.2rem;
    border: 0.1rem solid #e5e0e0;
}

.r_word h3{
    font-weight: 400;
    color: #373636;
}

.r_names{
    display: flex;
    margin-top: 3rem;
    gap: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.r_names h4{
    color: #979494;
}

.r_names img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.r_name{
    margin-bottom: 2rem;
    display: flex;
    padding: 0 4.7rem;
    gap: 4.5rem;
}

.following{
    width: 100%;
    height: 26rem;
    margin-top: 2rem;
    background-color: #ffffff;
}

.f_name{
    width: 100%;
    height: 5rem;
    border-bottom: 0.1rem solid #e5e0e0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1.5rem 0 0 2rem;
}

.fimage img{
    width: 7rem;
    height: 3rem;
}

.fimage{
    margin: 2rem;
    display: flex;
    gap: 1rem;
}
.fimage div{
    width: 12rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #e5e0e0;
}

.f_info{
    margin: 2rem;
    display: flex;
    gap: 1rem;
}

.ff{
    display: flex;
    gap: 0.5rem;
}

.ff div{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 0.1rem solid black;
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ff a{
    font-size: 1.5rem;
    color: #5eb5e6;
    cursor: pointer;
}

.ff a:hover{
    border-bottom: 0.1rem solid #5eb5e6;
}

.ft{
    width: 12rem;
    height: 4em;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ft h2{
    font-weight: 400;
    color: #373636;
}

.see{
    width: 10rem;
    height: 3rem;
    border-radius: 20px;
    border: 0.1rem solid #5eb5e6;
    color: #5eb5e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2rem;
    cursor: pointer;
}

.see{
    width: 21%;
    height: 3rem;
    border-radius: 18px;
    margin: 1rem 1.5rem 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #5eb5e6;
    cursor: pointer;
}

.see:hover{
    background-color: #edf6fd;
}

.see a{
    text-decoration: none;
    color: #5eb5e6;
    font-size: 1.3rem;
}

/* .see h3{
    font-weight: 400;
} */

footer{
    width: 100%;
    height: 5rem;
    border-top: 0.1rem solid #e5e0e0;
    margin-top: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #54555d;
}